{% extends "layout.html" %}

{% block title %}
Add
{% endblock %}

{% block main %}
<script src="/static/script.js"></script>
<form action="/add" method="post">
    <div class="form-group leftText">
      <label for="noteTitle">Note Title</label>
      <input class="form-control" name="noteTitle" type="text" autocomplete="off">
    </div>
    
    <div class="form-group leftText">
      <label for="NoteContent">Note</label>
      <textarea id='resize-ta' class="form-control" name="NoteContent" rows="8" type="text" style="height:229.996px; line-height: 24px;" ></textarea>
    </div>

    <button class="btn btn-primary" type="submit">Add</button>
  </form>

</form>
</div>

{% endblock %}