{% extends "layout.html" %}

{% block title %}
View
{% endblock %}

{% block main %}
<script src="/static/script.js"></script>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 col-sm-12 pb-3">
            <div class="container" id="noteinfo">
                <div class="row">
                    <div class="col-12">
                        <h3>{{fdata['title']}}</h3>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-12">
                        <ul class="list-group">
                            <li class="list-group-item">Date added</li>
                            <li class="list-group-item">{{fdata['creation'] | longDateTime}}</li>
                        </ul>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-12">
                        <ul class="list-group">
                            <li class="list-group-item">Last Edited</li>
                            <li class="list-group-item">{{fdata['edited'] | longDateTime}}</li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-9 col-sm-12">
            <form action="#" method="post">
                <div class="form-group leftText">
                    <label for="noteTitle">Title</label>
                    <input class="form-control" name="noteTitle" type="text" autocomplete="off"
                        value="{{fdata['title']}}">
                </div>
                <div class="form-group leftText">
                    <label for="NoteContent">Note</label>
                    <textarea class="form-control" id='resize-ta' name="NoteContent" rows="8" type="text">{{fdata['note']}}</textarea>
                </div>

                <button class="btn btn-primary" type="submit" name="noteid_edit"
                    value="{{ fdata['noteid'] }}">Edit</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}